<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.synechrone.synehire">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_launcher"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.synechrone.synehire.activity.SplashActivity"
            android:theme="@style/AppFullScreenTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.synechrone.synehire.activity.LoginActivity"
            android:theme="@style/AppFullScreenTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
            android:name="com.synechrone.synehire.activity.CandidateDetailsActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.synechrone.synehire.activity.DiscussionDetailsActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.synechrone.synehire.activity.InterviewSummaryActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.synechrone.synehire.activity.RecommendationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.synechrone.synehire.activity.RecruiterActionActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <service android:name="com.synechrone.synehire.services.UserAuthenticationService" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f28caca17b22d66d66df584c8d448673155dc62b" />
    </application>

</manifest>