<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.synechrone.interviewfeedback">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppFullScreenTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CandidateDetailsActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activity.TopicsActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".activity.InterviewOutcomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <service android:name=".services.UserAuthenticationService" />

        <activity android:name=".activity.InterviewSummaryActivity"></activity>
    </application>

</manifest>